/* Font OpenSans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* Config Tags Base */

body, html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--gray-white);
} 

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

/* Colors */

:root{
    --white: #FFFFFF; 
    --gray-white: #F5F5F5;
    --light-gray: #969696;
    --medium-gray: #707070;
    --dark-gray: #565656;
    --darker-gray: #494949;
    --dark-green: rgba(20, 92, 35, 0.8);
    --medium-green: #437C4E;
    --light-green: #729279;
}

/* Config Dashboard Student */

