/* Dashboard Sidebar */

#dashboard{
    height: 100%;
    margin: 0;
}

#sidebar{
    background-color: var(--dark-green);
    padding: 18px 12px;
}

#sidebar #profile{
    margin-bottom: 50px;
}

#sidebar #profile span{
    background-color: var(--light-green);
    padding: 7px 10px 12px 10px;
    position: absolute;
    z-index: 0;
}

#sidebar #profile span img{
    width: 22px;
}

#sidebar #profile #img-profile{
    border-radius: 100%;
    height: 200px;
    object-fit: cover;
    width: 200px;
    background-color: var(--gray-white);
    margin-top: 40px;
    z-index: 1;
}

#sidebar #profile p{
    font-weight: 300;
    color: var(--gray-white);
    margin-top: 20px;
}

#sidebar #menu{
    font-weight: 400;
}

#sidebar #menu ul{
    margin: 0;
}

#sidebar #menu ul li{
    margin-bottom: 30px;
}

#sidebar #menu ul li a, #sidebar #logout a{
    color: var(--gray-white);
}

#sidebar #menu ul li a:hover, #sidebar #logout a:hover{
    text-decoration: underline;
}

#sidebar #menu ul li a img{
    width: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#sidebar #logout{
    margin-top: 60px;
    margin-left: 20px;
}

#sidebar #logout a img{
    width: 20px;
    margin-left: 10px;
    margin-bottom: 3px;
}


/* Dashboard Body */

#dashboard-body #up-title{
    margin: 40px 5vw 20px 5vw;
}

#dashboard-body #title h2{
    font-weight: 600;
    color: var(--dark-gray);
    font-size: calc(1.4rem + .9vw);
}

#dashboard-body #toggle{
    display: none;
}

#dashboard-body #toggle button{
    border: none;
    background-color: var(--dark-green);
    border-radius: 5px;
    padding: 5px 10px;
}

#dashboard-body #toggle button img{
    width: 20px;
}

#dashboard-body #toggle #button-close{
    display: none;
}

#dashboard-body #breadcrumb nav ol{
    margin: 0;
}

#dashboard-body #breadcrumb nav ol li{
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 0.8rem;
}

#dashboard-body #breadcrumb nav ol li a{
    font-weight: 600;
    color: var(--darker-gray);
}

#dashboard-body #breadcrumb nav ol li a:hover{
    text-decoration: underline;
}


/* Dashboard Modal Upload Image */

#modal-upload, #modal-webcam{
    width: 0;
    padding: 0;
}

#modal-upload form .modal-body #upload{
    background-color: var(--gray-white);
    border-radius: 5px;
}

#modal-upload form .modal-body #upload input[type="file"]{
    display: none;
}

#modal-upload form .modal-body #upload label{
    background-color: var(--light-green);
    padding: 10px 40px;
    border-radius: 5px 0px 0px 5px;
    color: var(--gray-white);
    cursor: pointer;
    font-weight: 600;
}

#modal-upload form .modal-body #upload label:hover{
    background-color: var(--medium-green);
}

#modal-upload form .modal-body #upload span{
    font-weight: 400;
    margin-left: 20px;
}

#modal-upload form .modal-body #preview-img{
    margin: 60px 0px;
}

#modal-upload form .modal-body #preview-img img{
    display: none;
}

#modal-upload form .modal-body #preview-img #canvas,
#modal-upload form .modal-body #preview-img img{
    background-color: var(--light-gray);
    width: 250px;
    height: 250px;
    border-radius: 100%;
}


/* Dashboard Modal Webcam */

#modal-webcam .modal-body .col:nth-child(1){
    margin: 40px 20px 40px 0px;
}

#modal-webcam .modal-body .col:nth-child(2){
    margin: 40px 0px 40px 20px;
}

#modal-webcam .modal-body #webcam,
#modal-webcam .modal-body #shot{
    width: 400px;
    height: 300px;
    background-color: var(--light-gray);
}

#modal-webcam .modal-footer .btn-green button:nth-child(2){
    margin-left: 10px;
}


/* Dashboard Photo Gallery */

#photos-gallery button{
    padding: 5px 10px;
    background-color: var(--light-green);
    border: none;
    border-radius: 5px;
}

#photos-gallery button:hover{
    background-color: var(--medium-green);
}

#photos-gallery button img{
    width: 40px;
}


/* Register Anamnese */

#anamnese form #checks{
    margin: 0px 2px;
}

#anamnese form .form-check .form-check-input{
  font-size: 20px;
}

#anamnese form .form-check .form-check-input:checked,
#anamnese form .form-check .form-check-input:active{
    background-color: var(--light-green);
    border: 1px solid var(--medium-green);
}

#anamnese form .form-check .form-check-label{
  font-size: 15px;
  padding: 4px;
}

#anamnese form .form-label{
  font-size: 15px;
}

#anamnese form .btn-green button{
    padding: 10px 10px;
}

#anamnese form .form-check .form-check-input:focus,
#anamnese form textarea:focus{
    box-shadow: none;
    border: 1px solid var(--medium-green);
}

#anamnese form textarea{
    font-weight: 400;
    font-size: 0.8rem;
}

/* Dashboard Data Student */




/* Entry */

