/* Font OpenSans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* Tags Base */

body, html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--gray-white);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

/* Dashboard Modal */

.modal-header .modal-title{
    font-weight: 600;
    color: var(--medium-gray);
}

.modal-header .btn-close:focus{
    box-shadow: none;
}

.modal-header .modal-title,
.modal-header .btn-close,
.modal-body{
    margin: 0px 20px;
}

.texts-info{
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--light-gray);
}

.texts-info p{
    margin-bottom: 0px;
}

.texts-info, .btn-send{
    margin: 10px 20px;
}

.btn-green button{
    font-weight: 600;
    color: var(--gray-white);
    border: none;
    padding: 10px 30px;
    background-color: var(--light-green);
}

.btn-green button:hover{
    background-color: var(--medium-green);
    color: var(--gray-white);
}

.btn-green button:focus{
    box-shadow: none;
}

.btn-green .btn{
    border-radius: 5px;
}
