{% load static %}

<!-- Arquivo aparentemente inútil ? -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Matrícula | IFRN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <section>
        <div class="container center">
            <h1>Matrícula</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.matriculation }}
                <div class="div-submit-btn center">
                    <button class="btn btn-upload" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>

</body>
</html>
