{% extends 'base.html' %}

{% block content %}

    <section>
        <div class="container">
            <div class="center title-h2">
                <h2>Dados do Estudante</h2>
            </div>
            <div class="row">
                <div>
                    <div class="sec-h4 col s3">
                        <h4>Nome</h4>
                        <p>{{ data_student.name }}</p>
                    </div>
                    <div class="sec-h4 col s3">
                        <h4>Matrícula</h4>
                        <p>{{ data_student.matriculation }}</p>
                    </div>
                    <div class="sec-h4 col s3">
                        <h4>Campus</h4>
                        <p>{{ data_student.campus }}</p>
                    </div>
                    <div class="sec-h4 col s3">
                        <h4>Código do Curso</h4>
                        <p>{{ data_student.code_course }}</p>
                    </div>
                </div>
                <div>
                    <div class="sec-h4 col s3">
                        <h4>E-mail Acadêmico</h4>
                        <p>{{ data_student.email_acad }}</p>
                    </div>
                    <div class="sec-h4 col s3">
                        <h4>Turma</h4>
                        <p>{{ data_student.class_school }}</p>
                    </div>
                    <div class="sec-h4 col s3">
                        <h4>Sexo</h4>
                        <p>{{ data_student.gender }}</p>
                    </div>
                    <div class="sec-h4 col s3">
                        <h4>Turno</h4>
                        <p>{{ data_student.shift }}</p>
                    </div>
                </div>
                <div>
                    <div class="sec-h4 col s6">
                        <h4>Telefone(s)</h4>
                        {% for ph in phones %}
                        <div class="card darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ ph }}</span>
                            </div>
                            <div class="card-action">
                                <a href="#">Edit</a>
                                <a href="#">Delete</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="sec-h4 col s6 center">
                        <h4>Imagem</h4>
                        {% if not data_student.photo %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-file">
                                <div class="file-field input-field">
                                    <div class="btn btn-large btn-file">
                                        <span>File</span>
                                        {{ form.file }}
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input type="text" class="file-path validate">
                                    </div>
                                </div>
                            </div>
                            <div class="div-submit-btn center">
                                <button class="btn btn-upload" type="submit">Upload</button>
                                <a class="btn btn-large" href="instant/image/">Tirar Foto</a>
                            </div>
                        </form>
                        
                        {% endif %}
                        {% if data_student.photo %}
                            <img width="400" src="{{ data_student.photo.url }}">
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="sec-h4 col s6 center">
                        <h4>Anamneses Student</h4>
                        <div>
                            <a href="{% url 'anamnese' %}">Cadastrar anamnese</a>
                        </div>
                        <div>
                            <a href="#">Ver anamneses cadastradas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}