{% extends 'base.html' %}

{% block title %} Register Anamnese - IFRN {% endblock %}

{% block content %}

    <section class="center-align">
        <h4>Formulário COVID-19</h4>
        <p style="font-size: 20px;">Atenção! Preencha todos os campos corretamente e com sinceridade do formulário abaixo.</p>
        <div class="container">
            <div class="z-depth-3" style="display: inline-block; padding: 10px 10px 0px 10px; background-color: white; border-radius: 15px;">
                <form method="POST" class="left-align">
                    {% csrf_token %}
                    <p> <label> <span>Nome: {{student.name}}</span> </label> </p>
                    <p> <label> <span>Matricula: {{student.matriculation}}</span> </label> </p>

                    <p>
                        <label for="id_fever">
                            {{ form.fever }}
                            <span>Febre</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_fatigue">
                            {{ form.fatigue }}
                            <span>Cansaço</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_dry_cough">
                            {{ form.dry_cough }}
                            <span>Tosse seca</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_body_ache">
                            {{ form.body_ache }}
                            <span>Dores no corpo</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_nasal_congestion">
                            {{ form.nasal_congestion }}
                            <span>Congestão nasal</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_headache">
                            {{ form.headache }}
                            <span>Dor de cabeça</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_conjunctivitis">
                            {{ form.shortness_of_breathe }}
                            <span>Falta de ar</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_conjunctivitis">
                            {{ form.conjunctivitis }}
                            <span>Conjuntivite</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_sore_throat">
                            {{ form.sore_throat }}
                            <span>Dor de garganta</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_diarrhea">
                            {{ form.diarrhea }}
                            <span>Diarréia</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_loss_of_taste_or_smell">
                            {{ form.loss_of_taste_or_smell }}
                            <span>Perda de paladar ou olfato</span>
                        </label>
                    </p>
                    <p>
                        <label for="id_rash_or_discoloration">
                            {{ form.rash_or_discoloration }}
                            <span>Erupção cutânea na pele ou descoloração</span>
                        </label>
                    </p>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.other_symptons }}
                            <label for="textarea1">Outros sintomas:</label>
                        </div>
                    <div>
                            {{ form.student }}
                    </div>

                    <div>
                        <a href="{% url 'list-anamneses' student=student.matriculation %}" class="btn"> Voltar</a>
                        <button type="submit" class="btn white-text"> Cadastrar </button>
                    </div>

                </form>
            </div>
        </div>
    </section>

{% endblock %}
