{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de Alunos | IFRN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
</head>
<body>

    <section>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file-excel">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </section>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

</body>
</html>