{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de Alunos | IFRN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
</head>
<body>

    <section>
        <div>
            <table>
                <thead>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </section>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

</body>
</html>