{% extends 'base.html' %}

{% block title %} Lista de Estudantes - IFRN {% endblock %}

{% block content %}

    <section>
        <div class="container">
            <div class="center title-h2">
                <h2>Lista de Alunos - IFRN</h2>
            </div>
            <div class="row search">
                <form>
                    {% csrf_token %}
                    <div class="container center row">
                        <input class="col s9" type="search" placeholder="Buscar...">
                        <button class="center btn col s2" type="submit"><i class="material-icons">search</i></button>
                    </div>
                    <div class="input-field">
                        <select>
                            <option value="" disabled selected>Filtrar por:</option>
                            <option value="1">Campus</option>
                            <option value="2">Código Curso</option>
                            <option value="3">Sexo</option>
                            <option value="4">Situação</option>
                            <option value="5">Turno</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <table class="centered">
                <thead>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>E-mail Acadêmico</th>
                    <th>Telefones</th>
                    <th>Código do Curso</th>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.matriculation }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.email_acad }}</td>
                        <td>
                            <select>
                                {% for phone in phones_students %}
                                    {% if student.pk == phone.student.pk %}
                                    <option value="{{ phone }}">{{ phone }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ student.code_course }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
    
{% endblock %}