{% extends 'base.html' %}

{% block title %} Lista de Anamneses - IFRN {% endblock %}

{% block content %}

    <table style="margin-bottom: 8px;">
        <thead>
            <tr>
                <th> ID Anamnese </th>
                <!-- <th> Aluno </th> -->
                <th> Autorização de presença </th>
                <th> Data e hora </th>
                <th> Ações </th>
            </tr>
        </thead>
        <tbody>
            {% for form in anamneses %}
                <tr>
                    <td> <a href="{% url 'show-anamnese' student=student.matriculation  pk=form.id %}"> {{ form.id }} </a> </td>
                    <td>{{ form.student.matriculation }}</td>
                    <td>{{ form.attendance_authorization }}</td>
                    <td>{{ form.datetime }}</td>
                    <td> <a href="{% url 'delete-anamnese' student=student.matriculation pk=form.id %}"> 
                        <i class="material-icons"> delete </i> </a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center-align">
        <a href="{% url 'register-anamnese' student=student.matriculation %}" class="btn"> Cadastrar </a>
    </div>

{% endblock %}