{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de Alunos | IFRN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

    <section>
        <div class="container">
            <table class="centered">
                <thead>
                    <th>id</th>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Campus</th>
                    <th>CodeCurso</th>
                    <th>DescCurso</th>
                    <th>EmailAcad</th>
                    <th>Sexo</th>
                    <th>Status</th>
                    <th>Telefones</th>
                    <th>Turma</th>
                    <th>Turno</th>
                </thead>
                <tbody>
                    {% for al in alunos %}
                    <tr>
                        <td>{{ al.pk }}</td>
                        <td>{{ al.matricula }}</td>
                        <td>{{ al.nome }}</td>
                        <td>{{ al.campus }}</td>
                        <td>{{ al.code_curso }}</td>
                        <td>{{ al.desc_curso }}</td>
                        <td>{{ al.email_acade }}</td>
                        <td>{{ al.sexo }}</td>
                        <td>{{ al.status_curso }}</td>
                        {% for tel in telefones %}
                            {% if al.pk == tel.aluno.pk %}
                            <td>{{ tel }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ al.turma }}</td>
                        <td>{{ al.turno }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

</body>
</html>