{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dados do Estudante | IFRN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
    </style>
</head>
<body>

    <section>
        <div class="container">
            <div class="center title-h2">
                <h2>Tirar Foto do Estudante</h2>
            </div>
            <div class="center camera">
                <video autoplay="true" id="videoElement"></video>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="{% static 'js/capture-image.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

</body>
</html>
