{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dados do Estudante | IFRN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #video {
            width: 400px;
            height: 300px;
            background-color: #666;
        }

        #canvas{
            display: none;
        }

        #photo{
            background-color: #242424;
            width: 400px;
            height: 300px;
        }
    </style>
</head>
<body>

    <section>
        <div class="container">
            <div class="center title-h2">
                <h2>Tirar Foto do Estudante</h2>
            </div>
            <div class="row">
                <div class="center col s6">
                    <div id="camera"></div>
                    <button type="button" onclick="startCamera()">Open Camera</button>
                    <button type="button" onclick="stopCamera()">Stop Camera</button>
                    <button type="button" id="button-take-picture" onclick="take_snapshot()">Tirar Foto</button>
                    <button type="button" onclick="upload()">Enviar</button>
                </div>
                <div>
                    <canvas id="canvas"></canvas>
                </div>
                <div>
                    <img id="results">
                    <form id="upload-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="arquivo" id="arquivo">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="{% static 'js/webcam.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <script>
        var data = ''
        function startCamera(){
            Webcam.set({
                width: 400,
                height: 300,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#camera');
        }

        function take_snapshot(){
            Webcam.snap(function(data_uri){
                document.getElementById('results').src = data_uri;
                data = data_uri
            });
        }

        function upload(){
            var raw_image_data = data.replace(/^data\:image\/\w+\;base64\,/, '');
            document.getElementById('arquivo').value = raw_image_data;
            document.getElementById('upload-form').submit();
        }

        function stopCamera(){
            Webcam.reset();
        }
    </script>

</body>
</html>
