{% load static %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'customC.css' %}">
</head>
<body class='center-align'>

	<p style="font-size: 20px;">Respostas registradas do Formulário COVID-19:</p>

	<table style="background-color: white; width: 50%; " class="z-depth-3 highlight centered">
        <thead>
          <tr>
              <th style="background-color: #4DB6AC">Sintomas</th>
              <th style="background-color: #4DB6AC">Respostas</th>
              <th style="background-color: #4DB6AC">Outros sintomas</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th style="background-color: #B2DFDB">Febre</th>
            <td>Sim</td>
            <td>Náuseas</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Tosse seca</th>
            <td>Não</td>
            <td>Dificuldade de engolir</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Dor de garganta</th>
   			<td>Sim</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Dor de cabeça</th>
			<td>Sim</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Dores no corpo</th>
			<td>Não</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Cansaço ou fraqueza</th>
			<td>Sim</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Dificuldade de respirar</th>
			<td>Sim</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Congestão nasal</th>
			<td>Sim</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Conjuntivite</th>
 			<td>Não</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Perda do paladar ou olfato</th>
       		<td>Sim</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Calafrios</th>
  			<td>Sim</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Diarreia</th>
  			<td>Não</td>
          </tr>

          <tr>
            <th style="background-color: #B2DFDB">Erupção cutânea na pele ou descoloração <br> 
            dos dedos das mãos ou dos pés</th>
   			<td>Não</td>
          </tr>
        </tbody>
    </table>
	<div class="section"></div>
</body>
</html>