/* Custom File Upload */

body{
    background-color: #F5F5F5;
}

.title-h2 h2{
    color: #707070;
    font-weight: 500;
    font-size: 2.8em;
    margin: 5% 0%;
}

.form-file{
    background-color: white;
    padding: 4%;
    border-radius: 10px;
}

.div-p{
    margin-top: 2%;
}
.div-p p{
    font-size: 0.9em;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    color: #969696;
}

.btn-file{
    background-color: #76B488;
    border-radius: 10px;
}
.btn-file:hover{
    background-color: #76B488;
}

.div-submit-btn{
    margin-top: 5%;
}
.btn-upload{
    background-color: #59926A;
    border-radius: 10px;
    width: 15vw;
    height: 55px;
    text-align: center;
    font-weight: 400;
}
.btn-upload:hover{
    background-color: #59926A;
}

.search .row button{
    background-color: #76B488 !important;
    height: 100% !important;
    box-shadow: none !important;
    border-radius: 10px;
}
.search .row button:hover{
    background-color: #95cfa5 !important;
}

.search input[type="search"]{
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 0% 2.5%;
    margin-right: 2%;
}

.search .row input[type="search"]:focus{
    box-shadow: none !important;
    border-bottom: none !important;
}

table th{
    font-weight: 600;
}

.sec-h4 h4{
    font-size: 1.5em;
    font-weight: 500;
}

.sec-h4 .row{
    margin-bottom: 0;
}

.card{
    background-color: #59926A;
}
.card-action a{
    color: #98ebad !important;
    font-weight: 500;
}

.sec-h4 .btn-upload{
    width: 10vw;
    height: 45px;
}

#video {
    width: 400px;
    height: 300px;
    background-color: #666;
}

#canvas{
    display: none;
}

#photo{
    background-color: #242424;
    width: 400px;
    height: 300px;
}

@media screen and (max-width: 700px){
    .title-h2 h2{
        font-size: 2.4em;
        margin: 8% 0%;
    }
    .btn-upload{
        width: 20vw;
    }
}

@media screen and (max-width: 600px){
    .title-h2 h2{
        font-size: 2em;
    }
    .btn-upload{
        width: 24vw;
    }
}

@media screen and (max-width: 450px){
    .title-h2 h2{
        font-size: 1.8em;
    }
}

@media screen and (max-width: 400px){
    .title-h2 h2{
        font-size: 1.5em;
    }
    .btn-upload{
        width: 30vw;
    }
}
